{% extends 'base.html' %}

{% block metadata %}
<title >ShowTalk Home Page</title>
{% endblock metadata %}

{% block content %}
    <h1 style="text-align: center">Welcome to ShowTalk</h1>
    <div style="text-align: center">
        A website for television lovers of all kinds.
    </div>
    {% for a in tvall %}
        <div  style="text-align: center;width: 70%;margin: auto" class="shadow p-3 mb-5 bg-white rounded">
            <p class="text-info">
                Today's clip:{{ a.title}}
            </p>
            <video controls autoplay style="width: 90%">
                <source src="../../media/{{ a.tv }}" type="video/mp4">
            </video>
            <p class="text-warning">
                {{ a.docs }}
            </p>
            <p>Click for details:<a href="/?page={{ a.id }}">{{ a.title }}</a></p>


        </div>
    {% endfor %}
{% endblock content %}
