{% extends 'base.html' %}

{% block metadata %}
<title>Profile</title>
{% endblock metadata %}


{% block content %}
    <h1 style="text-align: center">Welcome to Profile page!</h1>
    <div class="shadow p-3 mb-5 bg-white rounded " style="width: 60%;margin: auto;margin-top: 120px">
        <div style="width: 60%;margin: auto" class="shadow p-3 mb-5 bg-white rounded">
            <div style="text-align: center">
            <form  action="{% url 'showtalk:profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <img src="{{ user.img.url }}" width="50%"  />
                </div>

                {{ form }}
                <input type="submit" class="btn bg-success" value="Update">
            </form>
        </div>
</div>
{% endblock content %}
