{% extends 'base.html' %}

{% block metadata %}
<title>Amend TV Show</title>
{% endblock metadata %}



{% block content %}
    <h1 style="text-align: center">You can modify the daily video here!</h1>
    <div class="shadow p-3 mb-5 bg-white rounded " style="width: 60%;margin: auto;margin-top: 120px">
        {% for p in tvall %}
            <div style="width: 60%;margin: auto" class="shadow p-3 mb-5 bg-white rounded">
                <form  action="/tv" method="post" enctype="multipart/form-data">
                    <div >
                        <video controls autoplay style="width: 100%">
                            <source  src="{{ p.tv.url }}" type="video/mp4">
                        </video>
                    </div>

                    <div class="form-group">
                        <label >Title</label>
                        <input type="text" class="form-control" id="title" name="title" value="{{ p.title }}" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label >Docs</label>
                        <input type="text" class="form-control" id="docs" name="docs" value="{{ p.docs }}" aria-describedby="emailHelp">
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <label class="form-label w-100">upload video</label>
                            <input type="file" name="tv">
                            <small class="form-text text-muted">mp4</small>
                        </div>
                    </div>
                    <input type="submit" class="btn bg-success" value="Amend">
                </form>
            </div>
        {% endfor %}
</div>
{% endblock content %}
